<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head> 
<body class="text-white" style="background-color: black;">
  <div class="container">
    <!-- Jumbotron -->
    <!--IMAGES: https://images5.alphacoders.com/508/508358.jpg / https://i.gifer.com/8Gsl.gif-->
    <div class="jumbotron text-center" style="background-image: url(https://i.gifer.com/embedded/download/NRfS.gif); height: 400px; background-position: center; background-size: cover;">
      <h1 class="display-3">Mission to Mars</h1>
        <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <!-- NASA Mars News -->
    <div class="container">
      <div class="row" id="mars-news">
        <div class="media">
          <div class="media-body">
            <h4>Latest Mars News</h4>
            <h5 class="media-heading">{{mars.news_title}}</h5>
            <p>{{mars.news_paragraph}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- JPL Mars Space Images - Featured Image -->
    <div class="row" id="mars-featured-image">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <h4>Featured Mars Image</h4>
            <!-- If Images are False/None/Non-Existent, Then Default to Error Message -->
            <img src="{{mars.featured_image | default('static/images/error.png', true) }}" class="img-responsive" alt="Responsive Image"/>
        </div>
        <div class="col-md-4">
          <!-- Mars Weather -->
          <div class="row" id="mars-weather">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Current Weather on Mars</h4>
                        <p>{{mars.weather}}</p>
                    </div>
                </div>
            </div>
          </div>
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <div class="col-md-12">
              <h4>Mars Facts</h4>
              {{mars.facts | safe}}
            </div>
          </div>
        </div>
      </div>
      <!-- Mars Hemispheres -->
      <div class="row" id="mars-hemispheres" style="margin-top:80px;">
        <div class="page-header">
          <h4 class="text-center">Mars Hemispheres</h4>
        </div>
        {% for hemisphere in mars.hemispheres %}
          <div class="col-md-6">
              <div class="thumbnail">
              <!-- If Images are False/None/Non-Existent, Then Default to Error Message -->
              <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="..."/>
              <div class="caption">
                  <h4>{{hemisphere.title}}</h4>
              </div>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- Bootstrap JavaScript -->
    <!-- jQuery, Popper.js & Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>